# IDE files we don't want
.vscode/
.idea/

# Executable files
*.exe
/lidar-tx
/lidar-servo
/lidar-rx
/receiver
/servo
/transmitter
/receiver.exe
/servo.exe
/transmitter.exe
/servoctl
/sync
/scan-dummy

# other
/datasets
.DS_Store
output/*
!output/example.txt